<h1 class="text-center py-5">Les catégories de bien proposées</h1>

<div class="d-flex justify-content-center mx-0">
    <button *ngIf="roleUser" [routerLink]="['/categories/add']" routerLinkActive="router-link-active" class="btn btn-primary"> Ajouter une categorie </button>
</div>
<div class="d-flex row justify-content-around mx-0">
    <div *ngFor="let property of categories" class="card col-3 mx-2 my-2">
        <div>
            <h5 class="card-text">{{ property.name }}</h5>
            <button [routerLink]="['/details', property.id]" routerLinkActive="router-link-active" class="btn btn-primary mx-2 my-2">Details</button>
            <button (click)="deleteCategory(property.id)" class="btn btn-primary mx-2 my-2">Delete</button>
        </div>
    </div>
</div>